<div class="container">
  <% courses.each_slice(3) do |courses| %>
    <div class="row">
      <% courses.each do |course| %>
        <div class="col-md-4 mb-3">
          <%= render(Components::Course.new(course: course, button_text: button_text)) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
